@font-face {
	font-family: 'Montserrat'; 
	src: url(/static/font-family/Montserrat-Light.ttf); 
}
@font-face {
	font-family: 'Montserrat_Black'; 
	src: url(/static/font-family/Montserrat-Bold.ttf); 
}
@font-face {
	font-family: 'Montserrat_BlackExtra'; 
	src: url(/static/font-family/Montserrat-ExtraBold.ttf); 
}

@font-face {
	font-family: 'Montserrat_normal'; 
	src: url(/static/font-family/Montserrat-SemiBold.ttf); 
}
@font-face {
	font-family: 'Leto'; 
	src: url(/static/font-family//Leto/Leto\ Text\ Sans\ Defect.otf); 
}
body {
    margin: 0;
    background: rgba(245, 245, 245, 0.85);
}

header {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 640px;
    height: 40px;
}

.icon {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
}

.iconleft {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconleft button {
    background: rgba(245, 245, 245, 0.85);
    border: none;
}

.iconright button {
    background: rgba(245, 245, 245, 0.85);
    border: none;
}

.logo {
    width: 200px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 22px;
    display: flex;
    align-items: center;
    margin-left: 63px;
}

.logo p {
    margin: 0 auto;
    color: black;
    font-family: 'Montserrat_Black';
    font-size: 15px;
}

.iconright {
    width: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 0 auto;
    width: 640px;
    height: 100%;
    box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    margin-bottom: 16px;
}

.top_person {
    padding-top: 20px;
}

.person {
    width: 200px;
    height: 170px;
    margin: 0 auto;
    
}

.div_person_logo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: radial-gradient(#FF6868 90%, #FFC700 90%,#FF0099 90%,#FF7A00 90%);
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.person_logo {
    width: 85px;
    height: 85px;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    background: radial-gradient(#FF6868, #FFC700,#FF0099,#FF7A00);
}

.person_name {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.person_name p {
    font-family: "Leto";
    font-size: 22px;
    margin: 0px;
    padding: 0px;
    padding-top: 1px;
    width: 141px;
    height: 22px;
    padding-left: 30px;
    background: linear-gradient(180deg, #FF0000 0%, #FF0000 0.01%, #EBFF00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.person_name  img {
    padding-top: 10px;
    width: 15px;
    height: 15px;
    padding-right: 5px;
}

.btn {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.one_btn {
    width: 90px;
    height: 47px;
}

.one_btn button {
    width: 90px;
    height: 30px;
    background: #FF4848;
    border-radius: 18px;
    font-size: 12px;
    font-family: "Montserrat_normal";
    border: none;
    color: #fff;
}

.one_btn p {
    margin: 0px;
    padding-top: 5px;
    text-align: center;
    font-size: 10px;
    font-family: "Montserrat_normal";
}

.two_btn {
    width: 90px;
    height: 47px;
}

.two_btn button {
    width: 90px;
    height: 30px;
    background: #FF4848;
    border-radius: 18px;
    font-size: 12px;
    font-family: "Montserrat_normal";
    border: none;
    color: #FFFFFF;
}

.two_btn p {
    margin: 0px;
    padding-top: 5px;
    text-align: center;
    font-size: 10px;
    font-family: "Montserrat_normal";
}

.bottom_person {
    width: 242px;
    height: 133px;
    margin: 0 auto;
    margin-top: 10px;
}

.bottom_person p{
    font-family: "Montserrat_normal";
    margin: 0px;
}

.name_p {
    font-size: 8px;
    color: #A6A6A6;
}

.about_p_person {
    text-indent: 8px;
    font-size: 10px;
    color: #000000;
}

.about_p_person span{
    text-indent: 5px;
    font-size: 8px;
    color: #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
}

.btn_menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.new_post {
    width: 110px;
    height: 74px;
    background: #000000;
    border-radius: 10px;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
}

.new_post img{
    padding-bottom: 4.5px;
}

.new_post p{
    font-family: "Montserrat_normal";
    font-size: 8px;
    color: #FFFFFF;
}

.market {
    width: 110px;
    height: 74px;
    background: #000000;
    border-radius: 10px;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
}

.market img{
    padding-bottom: 3px;
}

.market p{
    font-family: "Montserrat_normal";
    font-size: 8px;
    color: #FFFFFF;
}

hr {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    margin: 0px;
    margin-top: 20px;
}

.post_person {
    padding-bottom: 15px;
}

.line_post {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 0px 20px;
    box-sizing: border-box;
}

.line_post img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}
