<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/stylesmain.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <header>
        <div class="icon">
            <div class="iconleft">
                <a href=""><img src="/img/main/iconmain/home (1) 1.png" alt=""></a>
                <a href=""><img src="/img/main/iconmain/user (2) 1.png" alt=""></a>
            </div>
            <div class="logo">
                <p>LOGO</p>
            </div>
            <div class="iconright">
                <a href=""><img src="/img/main/iconmain/magnifying-glass (2) 1.png" alt=""></a>
                <a href=""><img src="/img/main/iconmain/heart (1) 1.png" alt=""></a>
                <a href=""><img src="/img/main/iconmain/direct 1.png" alt=""></a>
            </div>
        </div>
    </header>
    <main>
        <div>
            <div class="all_card" v-for="(item, index) in datas">
                <div class="card" v-for="item in item">
                    <div class="left_bar">
                        <img :src="item.photo_post" alt="" class="img_card">
                    </div>
                    <div class="right_bar" :class="item.number_post">
                        <div class="nav_card">
                            <div class="left_button">
                                <div class="like"><a class="like_abc"><img src="/img/main/iconcard/like (1) 1.png" alt=""></a>
                                    <p style="position:relative; display: block;">{{ item.like_post }}</p>
                                </div>
                                <a href=""><img src="/img/main/iconcard/chat 1.png" alt=""></a>
                                <a href=""><img src="/img/main/iconcard/share 1.png" alt=""></a>
                            </div>
                            <div class="right_button">
                                <button>Save</button>
                            </div>
                        </div>
                        <div class="account">
                            <img :src="item.avatar" alt="" class="personone">
                            <p>{{ item.login }}</p>
                            <a href=""><img src="/img/main/iconcard/arrow-down-sign-to-navigate 1.png" alt=""
                                    srcset=""></a>
                        </div>
                        <div class="account_me_comment">
                            <p>{{ item.text_post }}</p>
                        </div>
                        <div class="comment">
                            <div class="comment_p">
                                <p>Comments:</p>
                            </div>
                            <div class="manyperson">
                                <div class="person">
                                    <img src="/img/main/15746993c3ca3f4a79f2960819de2c37 1.png" alt="">
                                    <p style="font-family: 'Montserrat_Black';">hoyleo166:</p>
                                    <p style="font-family: 'Montserrat';">Love it!</p>
                                </div>
                            </div>
                            <div class="new_comment">
                                <img src="/img/main/Group 42.png" alt="">
                                <input type="text" placeholder="Add a comment">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

<script>
    $('.right_bar').mousedown(function () {
        $('.right_bar').css('display', 'none')
        $('.right_bar').css('width', '100%')
        $('.right_bar').css('border-radius', '30px 30px 30px 30px')
    });

    $('.right_bar').mouseup(function () {
        $('.right_bar').css('display', 'block')
        $('.right_bar').css('width', '389px')
        $('.right_bar').css('border-radius', '30px 30px 30px 30px')
    });


    $.ajax({
        url: '/check_ses',
        type: 'POST', 
        dataType: 'text',
        success: function (data) {
            if (data == 'false') {
                location.href = '/login'
            }
        }
    });

    $.ajax({
        url: '/lenta_sub',
        type: 'POST',
        dataType: 'json',
        data: {},
        success: function(data){
            console.log(data)
            let background_registration_img1 = new Vue({
                el: ".all_card",
                data: {
                    datas: data
                },
            });
        }
    });

    $('a.like_abc').click(function() {
        console.log(12)
        $.ajax({
            url: '/load_like_post',
            type: 'POST',
            dataType: 'text',
            data: {
                number_post: $('.right_bar').attr("class")[1]
            },
            success: function(data){
                console.log(data)
            }
        })
    });
</script>