<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta | Registration</title>
    <link rel="stylesheet" href="style/styles.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo">
            <h1>LOGO</h1>
        </div>
    </header>
    <div class="background_registration_line_black"></div>
    <div class="background_registration_red_button"><a style="scroll-behavior: smooth;"><img src="img/icon/Group 9.png" alt="" class="bottom_scroll_ff"></a></div>
    <main>
        <div class="background_registration_main">
            <div class="background_registration_line">
                <div class="background_registration"><img src="img/Rectangle 233.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 234.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 238.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 239.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 242.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 243.png" alt=""></div>
            </div>
            <div class="background_registration_line">
                <div class="background_registration"><img src="img/Rectangle 236.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 237.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 241.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 240.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 245.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 244.png" alt=""></div>
            </div>
            <div class="background_registration_line">
                <div class="background_registration"><img src="img/Rectangle 246.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 249.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 247.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 250.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 248.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 251.png" alt=""></div>
            </div>
            <div class="background_registration_line">
                <div class="background_registration"><img src="img/Rectangle 255.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 252.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 256.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 253.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 257.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 254.png" alt=""></div>
            </div>
            <div class="background_registration_line">
                <div class="background_registration"><img src="img/Rectangle 1233.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 1234.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 1238.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 1239.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 1242.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 1243.png" alt=""></div>
            </div>
            <div class="background_registration_line">
                <div class="background_registration"><img src="img/Rectangle 1236.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 1237.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 1241.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 258.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 260.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 1245.png" alt=""></div>
            </div>
            <div class="background_registration_line">
                <div class="background_registration"><img src="img/Rectangle 261.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 264.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 262.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 265.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 263.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 266.png" alt=""></div>
            </div>
            <div class="background_registration_line">
                <div class="background_registration"><img src="img/Rectangle 270.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 267.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 271.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 272.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 273.png" alt=""></div>
                <div class="background_registration"><img src="img/Rectangle 274.png" alt=""></div>
            </div>
        </div>
        <div class="form_registr">
            <div class="form_registr_logo">
                <h1>LOGO</h1>
            </div>
            <div class="form_registr_input">
                <div class="form_registr_input_mobile">
                    <div class="logo_img"><img src="img/icon/telephone-handle-silhouette 1.png" alt=""></div>
                    <input type="text" placeholder="Mobile number" class='mob_in'>
                </div>
                <div class="form_registr_input_email">
                    <div><img src="img/icon/mail 1.png" alt=""></div>
                    <input type="text" placeholder="Email" class='email_in'>
                </div>
                <div class="form_registr_input_surname">
                    <input type="text" placeholder="Name and surname" class='surname_in'>
                </div>
                <div class="form_registr_input_username">
                    <div><img src="img/icon/user 1.png" alt=""></div>
                    <input type="text" placeholder="Login" class='username_in'>
                </div>
                <div class="form_registr_input_password">
                    <div><img src="img/icon/Vector (3).png" alt=""></div>   
                    <input type="text" placeholder="Password" class='password_in'>
                </div>
                <div class="button_sens">
                    <button class="sign_up">Sign up</button>
                    <div class="logo_social">
                        <div>
                            <a
                                href="https://accounts.google.com/AddSession/identifier?hl=ru&continue=https%3A%2F%2Fwww.google.ru%2F&ec=GAlAmgQ&flowName=GlifWebSignIn&flowEntry=AddSession">
                                <img src="img/icon/icons8-google-2 1.png" alt="" class="logo_google">
                            </a>
                        </div>
                        <div><a href=""><img src="img/icon/Group 22.png" alt="" class="logo_facebook"></a></div>
                        <div style="padding-right: 0px;"><a href="https://vk.com/"><img
                                    src="img/icon/Group 21.png" alt="" class="logo_vk"></a></div>
                    </div>
                </div>
                <div class="login">
                    <p>Already have an account? <a href="indexinup.html" style="text-decoration: none;">Log in</a></p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

<script>
    $('.sign_up').click(function() {
        $.ajax({
            url: '/registration_s',
            type: 'POST',
            dataType: 'text',
            data: {
                    login: $('.username_in').val(), 
                password: $('.password_in').val(),
                e_mail: $('.email_in').val(),
                phone: $('.mob_in').val(),
                name_surname: $('.surname_in').val(),
            },
            success: function(data){
                console.log(data);
            }
        })
    });
    if (check_session() == true) {
        window.location.href = "127.0.0.1:8000/";
    };
    function check_session() {
        $.ajax({
            url: '/check_ses',
            type: 'POST', 
            dataType: 'text',
            success: function (data) {
                return data;
            }
        });
    };
    $('.bottom_scroll_ff').click(function() {
        $('html, body').animate({scrollTop:  $(document).height() - $(window).height()}, 1300);
		return false;
    });
    $(document).ready(function(){
        setTimeout(function(){
            window.scrollTo(0, 0);
    }, 1);
    });
</script>